body {
    font-family: Arial;
    background: linear-gradient(to right, #cecfd5, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    margin-bottom: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

button {
    padding: 8px;
    background: orange;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    color: black;
    padding: 8px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

li.completed {
    text-decoration: line-through;
    background: lightgreen;
}